/* @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #100919;

  font-family: 'Hind', sans-serif;
} */
/* gradient: 'linear-gradient(to right, #f6f2ff, #e7d4fe 55%, #b16afb', */

/* radial-gradient(circle at 100% 100%, #8c21f8 38%, #a958fa 66%); */

/* background: radial-gradient(25.06% 25.06% at 21.51% 38.27%, rgba(35, 123, 255, 0.2) 0%, rgba(38, 125, 255, 0) 100%) , linear-gradient(0deg, rgba(40, 6, 94, 0.3), rgba(40, 6, 94, 0.3)); */

@layer components {
  .title-gradient-light {
    @apply bg-gradient-to-r from-accent-50 via-accent-100 via-55% to-accent-300 bg-clip-text text-transparent;
  }

  .title-gradient-dark {
    @apply bg-gradient-to-r from-accent-300 via-55% to-accent-500 bg-clip-text text-transparent;
  }
}
